<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> tuneup </title>
        <link rel="stylesheet" href="/static/styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
        <script src="/static/script.js" defer></script>
    </head>
<body>
  <button class="sidebar-toggle" onclick="toggleSidebar()">☰</button>
  <div class="sidebar">
      <div class="sidebar-header">library</div>
      <ul class="sidebar-list"></ul>
  </div>
  <div class="main-content">
    <div class="search-container">
      <input type="text" class="search-input" placeholder="search songs, artists, albums...">
    </div>
    <div class="search-results" style="display: none;">
      <button class="back-btn" onclick="closeSearchResults()">back</button>
      <ul class="results-list"></ul>
    </div>
    
    <div class="player">
      <!-- Define the section for displaying details -->
      <div class="details">
        <div class="now-playing">playing x of y</div>
        <div class="track-art"></div>
        <div class="track-name">track name</div>
        <div class="track-artist">track artist</div>
      </div>

      <!-- Define the section for displaying track buttons -->
      <div class="buttons">
        <div class="shuffle-track" onclick="toggleShuffle()">
          <i class="fa fa-random"></i>
        </div>

        <div class="prev-track" onclick="prevTrack()">
          <i class="fa fa-step-backward fa-2x"></i>
        </div>
        <div class="playpause-track" onclick="playpauseTrack()">
          <i class="fa fa-play-circle fa-5x"></i>
        </div>
        <div class="next-track" onclick="nextTrack()">
          <i class="fa fa-step-forward fa-2x"></i>
        </div>
      </div>

      <!-- Define the section for displaying the seek slider-->
      <div class="slider-container">
        <div class="current-time">00:00</div>
          <input type="range" min="1" max="100" value="0" class="seek-slider" onchange="seekTo()">
          <div class="total-duration">00:00</div>
        </div>

        <!-- Define the section for displaying the volume slider-->
        <div class="slider-container">
          <i class="fa fa-volume-down"></i>
          <input type="range" min="1" max="100" value="99" class="volume-slider" onchange="setVolume()">
          <i class="fa fa-volume-up"></i>
        </div>
      </div>
    </div>
  </body>
</html>